.App {
    padding: 10%;

    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    justify-content: center;
    align-items: center;
}

.input-row {
    display: flex;
    flex-direction: column;
}

.input-row label {
    font-weight: 600;
    color: #303030;
    margin-bottom: 0.5rem;
}

.input-row input {
    width: 20rem;
    max-width: 35rem;
    font-size: 1.1rem;
    padding: 0.5rem;
    border: thin solid #ccc;
    border-radius: 0.3rem;
}
